# Virtual environment
.venv/
venv/
env/

# Dataset (pobierz osobno z Google Drive)
dataset/
dataset_test/

# Python cache
__pycache__/
*.pyc
*.pyo

# PyCharm
.idea/

# System
.DS_Store
Thumbs.db

# Diagram i inne obrazy
*.png
